@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: #414141;
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  color: #FFFFFF;
  background-color: #414141;
  border-bottom: 1px solid #E5E5E5;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 90%;
  background-color: #E5E5E5;
}

.logoicon {
  width: 150px;
  height: auto;
}

#navarea {
  font-size: 175%;
  text-align: center;
  line-height: 1;
}

.calendaricon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding-right: .25em;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  color: #414141;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.current {
  margin: 20px;
}

.prev {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21 41' enable-background='new 0 0 21 41'%3E%3Cpolygon points='20.3,40.8 0,20.5 20.3,0.2 21,0.9 1.3,20.5 21,40.1 '%3E%3C/polygon%3E%3C/svg%3E");
  filter: invert(0%) sepia(0%) saturate(1304%) hue-rotate(182deg) brightness(100%) contrast(86%);
  width: 16px;
  height: 32px;
}

.next {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21 41' enable-background='new 0 0 21 41'%3E%3Cpolygon points='20.3,40.8 0,20.5 20.3,0.2 21,0.9 1.3,20.5 21,40.1 '%3E%3C/polygon%3E%3C/svg%3E");
  transform: rotate(180deg);
  filter: invert(0%) sepia(0%) saturate(1304%) hue-rotate(182deg) brightness(100%) contrast(86%);
  width: 16px;
  height: 32px;
}

.weekgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.daybox {
  height: 150px;
  width: 180px;
  margin: 2px;
  background-color: #F3F3F3;
  border: 1px solid #FFFFFF;
  text-align: center;
}

.daybox.change {
  background-color: #FFFFFF;
  border-color: #969696;
  color: #414141;
}
